<h1 class="page-header">New concert</h1>

<div id="new_concert">
  
  <p class="lead">Fill in the basic information about the concert. After that you'll be able to create its setlist!</p>
  
  <%= render 'form', action: band_concerts_path(@band), method: :post %>
</div>