<div id="concert" class="container" style="padding: 60px 15px 0">
  <div class="page-header">
    <h1><%= @concert.name %> at <%= @concert.venue %> - <%= @concert.date %></h1>
  </div>
  
  <p class="lead">Yay!</p>
</div>