<h1 class="page-header">Band list</h1>

<div class="row">
  <div class="col-sm-12">
    <p class="lead">
      There are <strong><%= @bands.size %></strong> bands using Setlistr!
    </p>
  
    <ul>
    <% @bands.each do |band| %>
      <li>
        <h4><%= band.name %></h4>
      </li>
    <% end %>
    </ul>
  </div>
</div>