<div style="text-align: center;">
  <h1><strong>Setlistr</strong></h1>
    <br/><h2>O roadie virtual das bandas cover! </h2>
    <p>Organize o setlist da sua banda!</p>
    <p>Monte o repertório dos shows e tenha acesso rápido a letras, tabs e mais!</p>

    Não precisa de cadastro, basta entrar com a conta do Facebook!
    <br/><br/>
    <a href="/auth/facebook" id="fb_login_btn" class="zocial facebook">Entrar com o Facebook!</a>
</div>
