<% content_for :custom_js do %>
  <script type="text/javascript">
    var fbAppId = '<%= ENV['SETLISTR_FB_APP_ID'] %>';
    var original_url = '<%= params["return"] %>';
  </script>
<% end %>

<div class="container">
  <div class="page-header">
    <h1>Setlistr</h1>
  </div>
  <p class="lead">
    Manage your bands' setlists! Easily decide songs for concerts and store lyrics, tabs, audio and more to the songs!
    <p>To begin, please login by using your Facebook account</p>
    
    <p style="text-align:center">
      <a href="#" id="fb_login_btn" class="zocial facebook">Login with Facebook</a>
    </p>
  </p>
</div>