<% content_for :custom_js do %>
  <script type="text/javascript">
    var fbAppId = '<%= ENV['SETLISTR_FB_APP_ID'] %>';
  </script>
<% end %>

<div class="container">
  <div class="page-header">
    <h1>Setlistr</h1>
  </div>
  <p class="lead">
    Organize o setlist da sua banda! Monte o repertório dos shows e tenha acesso rápido a letras, tabs e mais!
    <p>Não precisa de cadastro, basta entrar com a conta do Facebook!</p>
    
    <p style="text-align:center">
      <a href="/auth/facebook" id="fb_login_btn" class="zocial facebook">Entrar com o Facebook!</a>
    </p>
  </p>
</div>