<div class="container" style="padding: 60px 15px 0">
  <h1 id="dashboard">Olรก, <%= current_user.name %>!</h1>
  <p><%= link_to "Adicionar sua banda!", new_band_path, :id => "create_band_btn", :class => "btn btn-primary btn-large" %></p>
</div>
