<div id="dashboard" class="container" style="padding: 60px 15px 0">
  <div class="page-header">
    <h1 >Olá, <%= current_user.name %>!</h1>
  </div>
  
  <% if true %>
    <p id="no_bands_msg"> Você ainda não tem nenhuma banda! </p>
  <% end %>
  
  <p><%= link_to "Adicionar sua banda!", new_band_path, :id => "create_band_btn", :class => "btn btn-primary btn-large" %></p>
</div>
