// Place all the styles related to the band controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #19ab5d;
}

.member_pic img, .member_pic img {
  border-radius: 30px;
  line-height: 200px;
}

.member_box {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  padding: 8px;
  height: 146px;
  margin-left: 10px;
  margin-right: 10px;
}

.band_summary {
  margin-top: 40px;
}

.invite_member_text {
  position: absolute;
  bottom: 0px;
  color: #337ab7;
}

.invite_box {
  border: 1px solid #ddd;
}

.invite_box_hover {
  border: 1px solid #337ab7;
  color: #337ab7;
  cursor: pointer;
}

.invite_mouse_on {
  line-height: 120px;
}

.invite_member_hook {
  font-size: 30px;

  line-height: normal;
  vertical-align: middle;
}

.invite_mouse_off .invite_member_hook {
  margin-top: 10px;
}