// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.band_button {
  margin-bottom: 20px;
}

.band_logo {
  width: 200px;
  height: 200px;
  display: inline-block;
  line-height: 200px;
}

.band_button > .band_logo img {
  display:inline-block;
}

.pending_approval {
  position: relative;
}

.pending_approval:after {
  content:'pending approval!';
  position:absolute;
  padding-left: 5px;
  padding-right: 5px;
  top:-10px;
  right: 92px;
  font-size:.7em;
  background:yellow;
  color:black;
  text-align:center;
  border-radius: 10px;
  border: 1px solid gold;
  line-height:18px;
}

.fb_already_connected {
  padding: 2%;
  color: #456192;
  border: 1px solid #456192;
  border-radius: 5px;
  display: inline;
}

.oauth_provider {
  margin-bottom: 1%;
}

.facebook_provider {
  color: #456192;
}

.spotify_provider {
  color: green;
}