// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.band_button {
  margin-bottom: 5px;
}

.pending_approval {
  position: relative;
}

.pending_approval:after {
  content:'pending approval!';
  position:absolute;
  padding-left: 5px;
  padding-right: 5px;
  top:-10px;
  right: 92px;
  font-size:.7em;
  background:yellow;
  color:black;
  text-align:center;
  border-radius: 10px;
  border: 1px solid gold;
  line-height:18px;
}