<% content_for :content do %>
<div class="container">
  <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              <li id="navIndex"></li>
              <li id="navLicoes"></li>
          </ul>
          <ul class="nav nav-sidebar">
              <li id="navUsuarios"></li>
          </ul>
          <ul class="nav nav-sidebar">
              <li id="navSobre"></li>
          </ul>
      </div>
      
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%= yield %>
      </div>
  </div>
</div>
<% end %>
<%= render template: "layouts/application" %>